

/* Partie Image */
.image-container { /* Container des images */
    overflow-x: scroll; /* Permet de scroller horizontalement */
    white-space: nowrap; /* Permet de mettre les images sur la même ligne */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    z-index: 10; /* Permet de mettre les images au dessus du texte */
    position : relative; /* Permet de mettre les images au dessus du texte */
}
.image-container img { /* Propriétés sur chaque images */
    display: inline-block; /* Permet de mettre les images sur la même ligne */
    margin-right: 7%; /* Marge entre les images */
    box-shadow: 0px 0px 1em rgba(0, 0, 0, 0.1); /* Ombre sur les images */
    transition: margin-left 1s ease; /* Animation déplacement de l'image */
}
.image-container img:first-child { /* Propriétés sur la première image */
    margin-left: 50%; /* Marge à gauche de l'image */
}

/* Partie flèche */
.arrow_container{ /* Container des flèches */
    margin-top: 40px; /*Espacement entre les images et les flèches*/
    display: flex; /* Disposition côte à côte */
    gap: 20px; /* Espacement entre les flèches */
    align-self: center; /* s'alignes en hauteur */
    margin-left: 50%; /* Placement horizontal sous les images */
}
.arrow{ /* Flèche */
    display: flex;
    height: 50px;/* Font de la flèche, 50x50 avec un bord à 50% pour avoir un bouton rond */
    width: 50px;
    border-radius: 50%;
    background-color: #ebebeb;/* Couleur de fond de la flèche */
    justify-content: center; /* centrer l'image qui sera là  */
    align-items: center;
    transition: opacity 0.5s ease; /* Animation de l'opacité */
}
.arrow:hover{ /* Flèche hover */
    box-shadow: 0px 0px 1em rgba(0, 0, 0, 0.1); /* Ombre sur la flèche */
    cursor: pointer; /* Curseur pointer */
}
.arrow:active{ /* Flèche on clic*/
    box-shadow: inset 0em 0.5em 0.5em rgba(0, 0, 0, 0.1); /* Ombre sur la flèche */
}

/* Partie texte */
.text_container{ /* Positionnement du texte, mise en place du scroll */
    margin-left : 10%;
    height: 320px; /* Hauteur du texte visible */
    width : 30%; /* Largeur du texte */
    overflow: hidden; /* Permet de cacher le texte qui suit*/
    position : absolute; /* Permet de placer le texte */
    top : 0px;
}
.text-wrap{ /* Container du texte */
    transition-property: margin-top; /* Animation du déplacement du texte */
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
}
.text_part { /* Container pour chaque paragraphes */
    color: #333; /* Couleur du texte */
    text-align: justify; /* Justification du texte */
    margin-bottom: 0px; /* Marge basse du texte */
    width: 100%; /* Largeur du texte */
    height: 320px; /* Hauteur du texte */
    display: flex; /* Disposition en colonne */
    flex-direction: column; /* Disposition en colonne */
    align-items: flex-start; /* Alignement à gauche */
    justify-content: center; /* Centrage du texte */
    gap: 20px; /* Espacement entre les paragraphes */
    transition: opacity 1s ease; /* Animation de l'opacité */
}

.text_part h2 { /* Propriétés sur les titres des paragraphes */
    font-size: clamp(1.5rem, 3vw, 2.25rem);
    font-weight: bold; 
    margin: 0; 
    text-align: start;
}

.text_part p { /* Propriétés sur la police de paragraphe */
    font-size: clamp(1rem, 2vw, 1rem);
    font-weight: 300;
    margin: 0; 
}

@media(max-width: 980px){ /* Modifications format tablette */
  .carrousel{
    display: flex; 
    flex-direction: column; /*Les photos font un retour à la ligne */
    margin: 0px 10%;
  }
  .text_container{
    position: relative; /* Passage de absolute à relative pour que le texte ce place au dessus des photos */
    width: 100%; /* Largeur du texte qui prend maintenant toute la largeur de l'écran */
    margin-left : 0%; /* réinitialisation des marges */
  }  
  .image-container img:first-child {
    margin-left: 0px; /* réinitialisation des marges */
    
  }
  .image-container img {
    margin-left: 0px; /* réinitialisation des marges */
    margin-right: 7%; /* Marge entre les images */
    }
}

@media(max-width: 780px){ /* Modifications format téléphone */
    .image-container img{
        width: 80%; /* Largeur des images décroissante */
        height: auto;
    }
}